body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #b3ff99;
}
/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;

}

ul{
  margin: 0;
  padding: 0;
}

.button_1{
  height: 38px;
  background: #6af230;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* Header */
header{
  background-color: #70341F;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px; /*top right bottom left */
}

header #brand{
  float: left;
}

header #brand h1{
  margin: 0;
}

header nav{
  float:right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #6af230;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */


#showcase{
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -150px; /*orizontal verical */
  text-align: center;
  color: #6af230;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

/* newsletter */

#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1{
  float: left;

}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}



/* Boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img{
  width: 90px;
}


.profile-photo{
  display: block;
  max-width: 200px;
  margin: 0 auto 30px;
}

#poza_box:hover
{
  transition: transform 0.5s;
  transform: scale(1.5, 1.5);
  animation-direction: alternate;

}








/* Footer */


footer{
  padding: 10px;
  margin-top: 20px;
  background-color: #35424a;
  text-align: center;
}

footer img{
  width: 20px;
}


/* Sidebar Pag Despre Noi */

aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}


/* main-col pag despre noi */

article#main-col{
  float: left;
  width: 65%;
}

/* tranzitie Despre_noi */

#tranzitie
{

	width: 20%;
  height: auto;
	position: relative;
	animation: myfirst 10s;
  animation-direction: normal;
  min-width: 100px;
  min-height: 100px;
  margin-left: 100px;
}

@keyframes myfirst
{
      0%  { left:   0px; top: 0px;}
	   50%  { left: 400px; top: 0px;}
     100% { left:   0px; top: 0px;}
}


/* Galerie pag muzica */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    min-width: 100px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    min-width: 100px;
    display: flex;
    height: auto;
}

div.desc {
    padding: 15px;
    background-color: #35424a;
}

#Galerie-Foto p
{
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

div.desc iframe
{
  display: flex;
  min-width: inherit;
  width: 200px;
  height: auto;
}

/* tabel concerte */
#tabel
{
  border: 2px solid black;
  width:100%;

}
#tabel  td
{
  text-align: center;
  border: 2px solid black;
}
#tabel th
{
  border: 2px solid black;
}

#tabel tr:nth-child(1)
{
  background-color: lightgreen;
}


/* Formular login */


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid ;
    box-sizing: border-box;
}

#butonSubmitUserSiParola {
    background-color: #70341F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}



.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 30%;
}

.containerLog{
  width: 50%;
  margin: auto;
  overflow: hidden;
  margin-top: 10px;
}

#tabelUltimeleTranzactii{
  width : 100%;
  margin:auto;
  margin-top: 50px;

}

table, th, td {
    border: 1px solid black;
}



/* Media Queries */

@media(max-width: 768px){
  header #brand,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  boxes .box,
  article#main-col,
  aside#sidebar{

    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
}
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
  


